{{ if eq .chezmoi.osRelease.id "ubuntu" -}}
#!/bin/sh
# Ubuntu-specific code
sudo apt update && sudo apt install git zsh
sudo snap install nvim --classic
sudo snap install chezmoi --classic
{{ else if eq .chezmoi.osRelease.id "manjaro" -}}
#!/bin/sh
# Manjaro-specific code
sudo pamac install git chezmoi neovim zsh
{{ end }}
